// Variables used throughout the site

// Bootstrap settings and overrides
$enable-flex:             true;
$enable-transitions:      true;
$speed:                   250ms;
$easing:                  ease-in-out;
